In [43]:
%reset

Once deleted, variables cannot be recovered. Proceed (y/[n])? y

#  Packages & Imports

In [2]:
%load_ext autoreload
%aimport data_prep
%run data_prep.py
%aimport modeling
%run modeling.py
%autoreload 1

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

## Load prepared Data

In [3]:
#Load Datasets
data = pd.read_csv("./FE_Final/train_data_prepared.csv")
target = pd.read_csv("./original_datasets/training_set_labels.csv")
target=target[["status_group"]]

In [4]:
data.head()

,amount_tsh,funder,gps_height,installer,longitude,latitude,num_private,basin,subvillage,region,...,quantity_group,source,source_type,source_class,waterpoint_type,Flag_population,Flag_longitude,age,days_since_recoreded,distance
0,6000.000000,other,1390,other,34.938093,-9.856322,0,Lake Nyasa,Mnyusi B,Iringa,...,enough,spring,spring,groundwater,communal standpipe,0,0,20.000000,"(2900.0, 2919.0]",1.459527e+06
1,0.000000,other,1399,other,34.698766,-2.147466,0,Lake Victoria,Nyamara,Mara,...,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,0,0,9.000000,"(1922.999, 2195.0]",1.459527e+06
2,25.000000,other,686,other,37.460664,-3.821329,0,Pangani,Majengo,Manyara,...,enough,dam,dam,surface,communal standpipe multiple,0,0,10.000000,"(2195.0, 2220.0]",1.459527e+06
3,0.000000,Unicef,263,other,38.486161,-11.155298,0,Ruvuma / Southern Coast,Mahakamani,Mtwara,...,dry,machine dbh,borehole,groundwater,communal standpipe multiple,0,0,33.000000,"(2220.0, 2240.0]",1.459527e+06
4,317.650385,other,0,other,31.130847,-1.825359,0,Lake Victoria,Kyanyamisa,Kagera,...,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,1,0,22.185314,"(2789.0, 2900.0]",1.459527e+06

In [5]:
data = data.drop(columns=["subvillage", "ward"])
data = onehot_encode(data)

# of features before: 36
# of features after: 202

In [6]:
data.head()

,amount_tsh,gps_height,longitude,latitude,num_private,region_code,district_code,population,Flag_population,Flag_longitude,...,water_quality_coloured,water_quality_fluoride,water_quality_fluoride abandoned,water_quality_milky,water_quality_salty,water_quality_salty abandoned,water_quality_soft,water_quality_unknown,permit_False,permit_True
0,6000.000000,1390,34.938093,-9.856322,0,11,5,109,0,0,...,0,0,0,0,0,0,1,0,1,0
1,0.000000,1399,34.698766,-2.147466,0,20,2,280,0,0,...,0,0,0,0,0,0,1,0,0,1
2,25.000000,686,37.460664,-3.821329,0,0,4,250,0,0,...,0,0,0,0,0,0,1,0,0,1
3,0.000000,263,38.486161,-11.155298,0,0,63,58,0,0,...,0,0,0,0,0,0,1,0,0,1
4,317.650385,0,31.130847,-1.825359,0,18,1,0,1,0,...,0,0,0,0,0,0,1,0,0,1

# Baseline Model (Random Forest)

In [7]:
X_train, X_test, y_train, y_test = train_test_split(data, target, train_size=0.8)

rf = RFC(n_estimators = 1000, random_state = random_seed, n_jobs=-1)

rf.fit(X_train, y_train)

rf_score = rf.score(X_test,y_test)

print('Accuracy:', rf_score)

Accuracy: 0.8063131313131313

# Multi-class logReg

In [8]:
data_log = addLabelToTrainData(data, target)

`status_group` added to train_data

In [9]:
data_log

,amount_tsh,gps_height,longitude,latitude,num_private,region_code,district_code,population,Flag_population,Flag_longitude,...,water_quality_fluoride,water_quality_fluoride abandoned,water_quality_milky,water_quality_salty,water_quality_salty abandoned,water_quality_soft,water_quality_unknown,permit_False,permit_True,status_group
0,6000.000000,1390,34.938093,-9.856322,0,11,5,109,0,0,...,0,0,0,0,0,1,0,1,0,functional
1,0.000000,1399,34.698766,-2.147466,0,20,2,280,0,0,...,0,0,0,0,0,1,0,0,1,functional
2,25.000000,686,37.460664,-3.821329,0,0,4,250,0,0,...,0,0,0,0,0,1,0,0,1,functional
3,0.000000,263,38.486161,-11.155298,0,0,63,58,0,0,...,0,0,0,0,0,1,0,0,1,non functional
4,317.650385,0,31.130847,-1.825359,0,18,1,0,1,0,...,0,0,0,0,0,1,0,0,1,functional
5,20.000000,0,39.172796,-4.765587,0,4,8,1,0,0,...,0,0,0,1,0,0,0,0,1,functional
6,0.000000,0,33.362410,-3.766365,0,17,3,0,1,0,...,0,0,0,0,0,1,0,0,1,non functional
7,0.000000,0,32.620617,-4.226198,0,17,3,0,1,0,...,0,0,1,0,0,0,0,0,1,non functional
8,317.650385,0,32.711100,-5.146712,0,14,6,0,1,0,...,0,0,0,1,0,0,0,0,1,non functional
9,317.650385,0,30.626991,-1.257051,0,18,1,0,1,0,...,0,0,0,0,0,1,0,0,1,functional
10,0.000000,62,39.209518,-7.034139,0,0,43,345,0,0,...,0,0,0,1,0,0,0,1,0,functional
11,200.000000,1062,35.770258,-10.574175,0,10,5,250,0,0,...,0,0,0,0,0,1,0,1,0,functional
12,0.000000,0,33.798106,-3.290194,0,17,2,0,1,0,...,0,0,0,0,0,1,0,1,0,functional
13,0.000000,1368,37.092574,-3.181783,0,3,7,1,0,0,...,0,0,0,0,0,1,0,0,1,functional
14,0.000000,0,34.364073,-3.629333,0,17,6,0,1,0,...,0,0,0,0,0,1,0,0,1,functional
15,0.000000,1645,31.444121,-8.274962,0,0,2,200,0,0,...,0,0,0,0,0,1,0,1,0,functional
16,500.000000,1703,34.642439,-9.106185,0,11,4,35,0,0,...,0,0,0,0,0,1,0,0,1,non functional
17,0.000000,1656,34.569266,-9.085515,0,11,4,50,0,0,...,0,0,0,0,0,1,0,0,1,non functional
18,0.000000,1162,32.920154,-1.947868,0,19,1,1000,0,0,...,0,0,1,0,0,0,0,0,1,functional needs repair
19,500.000000,1763,34.508967,-9.894412,0,11,5,1,0,0,...,0,0,0,0,0,1,0,0,1,functional
20,200.000000,2216,34.473430,-9.594990,0,11,4,4,0,0,...,0,0,0,0,0,1,0,1,0,functional
21,0.000000,0,34.179476,-2.962381,0,17,1,0,1,1,...,0,0,0,0,0,0,1,1,0,functional
22,0.000000,1510,34.586901,-8.980014,0,11,4,350,0,0,...,0,0,0,0,0,1,0,0,1,functional needs repair
23,500.000000,672,37.940029,-4.125595,0,3,3,210,0,0,...,0,0,0,0,0,1,0,0,1,functional
24,0.000000,1645,29.747066,-4.495568,0,16,3,156,0,0,...,0,0,0,0,0,1,0,0,1,functional
25,0.000000,1273,37.422751,-3.317536,0,3,4,140,0,0,...,0,0,0,0,0,1,0,0,1,functional needs repair
26,500.000000,200,39.370777,-9.942532,0,0,23,260,0,0,...,0,0,0,0,0,1,0,1,0,functional
27,317.650385,0,31.104257,-1.735361,0,18,1,0,1,0,...,0,0,0,0,0,1,0,0,1,functional
28,0.000000,1443,37.611126,-3.263526,0,3,1,1,0,0,...,0,0,0,0,0,1,0,0,1,non functional
29,0.000000,1256,37.061688,-3.191989,0,3,7,1,0,0,...,0,0,0,0,0,1,0,0,1,functional
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59370,200.000000,1154,30.058731,-4.902633,0,16,2,1,0,0,...,0,0,0,0,0,0,1,1,0,functional
59371,0.000000,0,33.586406,-3.040369,0,17,2,0,1,0,...,0,0,0,0,0,1,0,1,0,non functional
59372,317.650385,0,32.058548,-5.052101,0,14,4,0,1,0,...,0,0,0,1,0,0,0,0,1,non functional
59373,5000.000000,1137,32.125024,-6.784358,0,0,1,96,0,0,...,0,0,0,0,0,1,0,0,1,functional
59374,0.000000,0,34.242262,-2.998894,0,17,1,0,1,1,...,0,0,0,0,0,1,0,1,0,functional
59375,40000.000000,54,39.046942,-5.061494,0,4,4,609,0,0,...,0,0,0,0,0,1,0,0,1,functional
59376,0.000000,1581,34.821039,-5.076258,0,13,2,1,0,0,...,0,0,0,0,0,0,1,0,0,non functional
59377,317.650385,0,33.437012,-4.423594,0,14,2,0,1,0,...,0,0,0,0,0,1,0,1,0,non functional
59378,500.000000,2101,34.620387,-9.358405,0,11,4,36,0,0,...,0,0,0,0,0,1,0,0,1,functional
59379,317.650385,0,31.613284,-1.820226,0,18,3,0,1,0,...,0,0,0,0,0,1,0,0,1,functional
59380,6000.000000,1439,34.942101,-9.849198,0,11,5,50,0,0,...,0,0,0,0,0,1,0,1,0,non functional
59381,0.000000,0,38.835001,-4.880204,0,4,8,360,0,0,...,0,0,0,0,0,1,0,0,1,non functional
59382,6.000000,1383,37.454759,-3.323599,0,3,4,1,0,0,...,0,0,0,0,0,1,0,0,1,non functional
59383,0.000000,11,39.626009,-10.057499,0,0,62,800,0,0,...,0,0,0,0,0,1,0,0,1,functional
59384,317.650385,0,30.667805,-2.483710,0,18,30,0,1,0,...,0,0,0,0,0,1,0,1,0,non functional
59385,500.000000,1327,33.951681,-2.021854,0,20,4,200,0,0,...,0,0,0,1,0,0,0,0,1,functional
59386,0.000000,1786,31.738789,-8.532013,0,0,2,1000,0,0,...,0,0,0,0,0,1,0,1,0,functional
59387,100.000000,25,39.176480,-6.957098,0,0,2,100,0,0,...,0,0,0,0,0,1,0,1,0,functional
59388,0.000000,1414,30.692400,-3.593827,0,16,1,500,0,0,...,0,0,0,0,0,1,0,0,1,functional
59389,0.000000,783,30.646486,-7.365418,0,0,3,1500,0,0,...,0,0,0,0,0,1,0,1,0,functional
59390,0.000000,1715,31.370848,-8.258160,0,0,2,150,0,0,...,0,0,0,0,0,1,0,1,0,functional
59391,0.000000,540,38.044070,-4.272218,0,3,3,210,0,0,...,0,0,0,0,0,1,0,0,1,non functional
59392,317.650385,0,33.009440,-8.520888,0,12,1,0,1,0,...,0,0,0,0,0,1,0,0,1,non functional
59393,317.650385,0,33.866852,-4.287410,0,14,2,0,1,0,...,0,0,0,0,0,1,0,1,0,functional
59394,500.000000,351,37.634053,-6.124830,0,5,6,89,0,0,...,0,0,0,0,0,1,0,0,1,non functional
59395,10.000000,1210,37.169807,-3.253847,0,3,5,125,0,0,...,0,0,0,0,0,1,0,0,1,functional
59396,4700.000000,1212,35.249991,-9.070629,0,11,4,56,0,0,...,0,0,0,0,0,1,0,0,1,functional
59397,317.650385,0,34.017087,-8.750434,0,12,7,0,1,0,...,1,0,0,0,0,0,0,1,0,functional
59398,317.650385,0,35.861315,-6.378573,0,1,4,0,1,0,...,0,0,0,0,0,1,0,0,1,functional
59399,0.000000,191,38.104048,-6.747464,0,5,2,150,0,0,...,0,0,0,1,0,0,0,0,1,functional

In [ ]:
#Remove Outliers

In [ ]:
#fix skewness

In [ ]:
#scaling

In [139]:
clf = LogisticRegression(multi_class="ovr").fit(X_train, y_train)
clf_Score = clf.score(X_test,y_test)
print('Accuracy:', clf_Score)

Accuracy: 0.5405723905723906

# XGBoost w/ GS

In [ ]:
param_grid = {'learning_rate': [0.01, 0.1], 
          'max_depth': [4,8,12],
          'min_child_weight': [3,5,10,20,35,50],
          'subsample': [0.5, 0.75],
          'colsample_bytree': [0.5, 0.75],
          'n_estimators': [100, 300],
              'random_state':[random_seed]
}

model = xgb.XGBRegressor()

to_int = {'functional':1,'non functional':2,'functional needs repair':3}
to_cat = {1:'functional',2:'non functional',3:'functional needs repair'}

numerical_train = y_train.status_group.replace(to_int)
numerical_test = y_test.status_group.replace(to_int)

import re

X_train = X_train.rename(lambda x: re.sub("[\]\(\]\)\, ]","",x), axis='columns')
X_test = X_test.rename(lambda x: re.sub("[\]\(\]\)\, ]","",x), axis='columns')

xg = GridSearchCV(model,
                    param_grid = param_grid,
                    cv = 2,
                    n_jobs = 3,
                    scoring = 'r2',
                    verbose=True)
xg.fit(X_train, numerical_train)
xg.score(X_test,numerical_test)

Fitting 2 folds for each of 288 candidates, totalling 576 fits

[Parallel(n_jobs=3)]: Using backend LokyBackend with 3 concurrent workers.