In [182]:
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns
import sklearn as skl
import warnings
import statsmodels.api as sm
    import math as m


from sklearn import datasets, linear_model
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split, KFold, GridSearchCV
from sklearn.model_selection import cross_val_score, cross_val_predict, ShuffleSplit, validation_curve, cross_validate
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import LabelBinarizer, RobustScaler, LabelEncoder, scale, MinMaxScaler, PolynomialFeatures
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.metrics import accuracy_score, classification_report, roc_curve, roc_auc_score, confusion_matrix
from sklearn.decomposition import PCA
from sklearn import datasets
from sklearn.feature_selection import RFE,SelectFromModel

from sklearn.ensemble import RandomForestClassifier as RFC
from sklearn.datasets import make_classification

#from xgboost import XGBClassifier 

from scipy.stats import skew, boxcox_normmax
from scipy.special import boxcox1p

warnings.filterwarnings('ignore')
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.simplefilter(action='ignore', category=DeprecationWarning)
warnings.simplefilter('ignore')

In [125]:
#Load Datasets
train_data = pd.read_csv("training_set_values.csv")
train_labels = pd.read_csv("training_set_labels.csv")
test_data = pd.read_csv("test_set_values.csv")

In [ ]:
train_data[["population","region"]]

In [114]:
train_data["region"].unique()

array(['Iringa', 'Mara', 'Manyara', 'Mtwara', 'Kagera', 'Tanga',
       'Shinyanga', 'Tabora', 'Pwani', 'Ruvuma', 'Kilimanjaro', 'Rukwa',
       'Mwanza', 'Kigoma', 'Lindi', 'Dodoma', 'Arusha', 'Mbeya',
       'Singida', 'Morogoro', 'Dar es Salaam'], dtype=object)

In [115]:
count = np.count_nonzero(train_data["population"])/len(train_data)
count

0.6400505050505051

   population   region
0       109.0   Iringa
1       280.0     Mara
2       250.0  Manyara
3        58.0   Mtwara
4         NaN   Kagera

In [117]:
means = train_data.groupby('region').mean()

In [127]:
train_data['population'] = train_data['population'].replace({0:np.nan})

0         109.000000
1         280.000000
2         250.000000
3          58.000000
4         281.087167
5           1.000000
6         281.087167
7         281.087167
8         281.087167
9         281.087167
10        345.000000
11        250.000000
12        281.087167
13          1.000000
14        281.087167
15        200.000000
16         35.000000
17         50.000000
18       1000.000000
19          1.000000
20          4.000000
21        281.087167
22        350.000000
23        210.000000
24        156.000000
25        140.000000
26        260.000000
27        281.087167
28          1.000000
29          1.000000
            ...
59370       1.000000
59371     281.087167
59372     281.087167
59373      96.000000
59374     281.087167
59375     609.000000
59376       1.000000
59377     281.087167
59378      36.000000
59379     281.087167
59380      50.000000
59381     360.000000
59382       1.000000
59383     800.000000
59384     281.087167
59385     200.000000
59386    1000.000000
59387     100.000000
59388     500.000000
59389    1500.000000
59390     150.000000
59391     210.000000
59392     281.087167
59393     281.087167
59394      89.000000
59395     125.000000
59396      56.000000
59397     281.087167
59398     281.087167
59399     150.000000
Name: population, Length: 59400, dtype: float64

33003            NaN
12172     188.000000
5192      281.350964
32511     140.000000
50057     250.000000
43723     400.000000
7813      281.657390
52047     163.000000
21440            NaN
32912            NaN
20609            NaN
49100            NaN
7751      281.648900
43757            NaN
31228     120.000000
36230     200.000000
32025      45.000000
58546    3500.000000
54548     500.000000
21758            NaN
45413     500.000000
35730       1.000000
51668            NaN
8444      281.651433
19946      20.000000
37532       1.000000
57245      29.000000
22926            NaN
49714            NaN
27204     600.000000
31959            NaN
24535            NaN
19433     325.000000
17137      42.000000
26103            NaN
44510      40.000000
51040       1.000000
33878       1.000000
39053     260.000000
55273     234.000000
33799            NaN
37183       1.000000
52029     250.000000
3606      281.777914
42297            NaN
2561      281.962054
29960       1.000000
58072            NaN
32397       1.000000
39539            NaN
431       281.465181
36842            NaN
47560            NaN
16926            NaN
9287      281.702490
46467            NaN
34246            NaN
16277      53.000000
34105            NaN
Name: population, dtype: float64

In [188]:
## Check for Nan and ipute with the mean of the lowest level regional variable 
def impute_pop(df):
    df['population'] = df['population'].replace({0:np.nan})
    numeric_dtypes = ['int16', 'int32', 'int64', 
                      'float16', 'float32', 'float64']
    for i in range(0, len(df)): 
        if m.isnan(df.population[i]) == True:
            for j in ("subvillage", "ward", "lga", "district_code", "region", "basin"):
                if m.isnan(df.population[df[j] == df[j].iloc[i]].mean()) == False:
                    df.population.iloc[i] = df.population[df[j] == df[j].iloc[i]].mean()
                    break
                elif j == "basin":
                    df.population.iloc[i] = train_data['population'].mean()
    return df

In [189]:
result = find_nan(train_data)

m.isnan(result.po

In [193]:
result.isna().sum()

id                           0
amount_tsh                   0
date_recorded                0
funder                    3635
gps_height                   0
installer                 3655
longitude                    0
latitude                     0
wpt_name                     0
num_private                  0
basin                        0
subvillage                 371
region                       0
region_code                  0
district_code                0
lga                          0
ward                         0
population                   0
public_meeting            3334
recorded_by                  0
scheme_management         3877
scheme_name              28166
permit                    3056
construction_year            0
extraction_type              0
extraction_type_group        0
extraction_type_class        0
management                   0
management_group             0
payment                      0
payment_type                 0
water_quality                0
quality_group                0
quantity                     0
quantity_group               0
source                       0
source_type                  0
source_class                 0
waterpoint_type              0
waterpoint_type_group        0
dtype: int64

In [181]:
import math as m
m.isnan(result.population[1])

False

In [ ]:
train_data['population'].fillna((train_data['population'].mean()), inplace=True)
train_data['population']

In [ ]:
means = train_data.groupby('subvillage').mean()

281.875288846596